<h1>Hello!</h1>
<i>why would there be a italics tag here?</i>
<hr>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Erit enim instructus ad mortem contemnendam, ad exilium, ad ipsum etiam dolorem. Non dolere, inquam, istud quam vim habeat postea videro; Quae cum dixisset, finem ille. <br> <br>

  Quis suae urbis conservatorem Codrum, quis Erechthei filias non maxime laudat? Duo Reges: constructio interrete. Haec para/doca illi, nos admirabilia dicamus. Facile est hoc cernere in primis puerorum aetatulis. <br> <br>

  At, si voluptas esset bonum, desideraret. Et quidem iure fortasse, sed tamen non gravissimum est testimonium multitudinis. Explanetur igitur. Cum audissem Antiochum, Brute, ut solebam, cum M. Ratio quidem vestra sic cogit. Sed potestne rerum maior esse dissensio? Quid nunc honeste dicit? Sed ad bona praeterita redeamus. <br> <br>

  Quo modo autem philosophus loquitur? Est, ut dicis, inquit; Varietates autem iniurasque fortunae facile veteres philosophorum praeceptis instituta vita superabat. Nam quid possumus facere melius? Stoici autem, quod finem bonorum in una virtute ponunt, similes sunt illorum; At certe gravius. Et quidem saepe quaerimus verbum Latinum par Graeco et quod idem valeat; Nullus est igitur cuiusquam dies natalis.v  <br> <br>

  -, sed ut hoc iudicaremus, non esse in iis partem maximam positam beate aut secus vivendi. Hoc enim constituto in philosophia constituta sunt omnia. Ut necesse sit omnium rerum, quae natura vigeant, similem esse finem, non eundem. Haec bene dicuntur, nec ego repugno, sed inter sese ipsa pugnant. Et quod est munus, quod opus sapientiae? <br> <br>
</p>
