* {
  font-family: "Droid Sans";
}

body {
  background-color: #FFFFFF;
}

.navbar-fixed-left {
  width: 200px;
  position: fixed;
  border-radius: 0;
  height: 100%;
  background-color: #F11C24;
}

.navbar-fixed-left .navbar-brand {
  border: 0px;
  margin-top: 10px;
  padding: 0px;
}

.navbar-fixed-left ul a {
  display: inline-block;
  font-size: 16px;
  color: #FFFFFF;
  width: 200px;
}

.navbar-fixed-left ul a:hover {
  background-color: #020304;
  color: #FFFFFF;
}

.sc-player {
  position: absolute;
  bottom: 0px;
  left: 0;
}

.sc-player-toggle {
  margin: 0;
  border: 0;
  width: 198px;
  background-color: #FF7700;
  color: #020304;
}

.sc-player-toggle i {
  font-size: 20px;
}

.sc-player-toggle-text {
  background-color: #FF7700;
  margin: 0;
  border: 0;
}

.content {
  margin-left: 220px;
}

.content hr {
  background-color: #F11C24;
  color: #F11C24;
  border: 0px;
  height: 4px;
}

.content p {
  font-size: 16px;
}

.content .portraits {
  text-align: center;
}

.slide-menu {
  background-color: #F11C24;
  overflow: auto;
  margin: 10px;
}

.slide-menu .slideBox {
  background-color: #F11C24;
  position: relative;
  /*margin:0 auto;*/
  padding: 5px;
  width: 100%;
}

.slide-menu .scroller {
  color: #020304;
  width: 40px;
  text-align: center;
  cursor: pointer;
  display: none;
  padding: 5px;
  margin-top: 5px;
}

.slide-menu .scroller-right {
  float: right;
}

.slide-menu .scroller-left {
  float: left;
}

.slide-menu .icon-large {
  font-size: 32px;
}

.slide-menu .wrapper {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  padding: 5px;
  height: 250px;
  vertical-align: middle;
}

.slide-menu .list {
  position: absolute;
  left: 0px;
  top: 0px;
  min-width: 3000px;
  margin-left: 12px;
  margin-top: 0px;
}

.slide-menu .item {
  padding: 10px;
  display: table-cell;
  margin: 1px;
  position: relative;
  text-align: center;
  color: #efefef;
  border-left: 1px dotted #FFFFFF;
  vertical-align: top;
  max-width: 200px;
}

.slide-menu .episode-artwork img {
  max-width: 100%;
  max-height: 100%;
}

.episode-panel {
  margin-right: 10px;
}

.episode-panel .item {
  width: 175px;
  height: 250px;
  margin: 10px;
  vertical-align: top;
  border-bottom: 4px solid #F11C24;
  border-top: 4px solid #020304;
  display: inline-block;
}

.episode-panel .item img {
  width: 175px;
}

.episode-panel .item .episode-title {
  font-size: 16px;
}

.footer {
  text-align: center;
  background-color: #020304;
  color: #FFFFFF;
}
