<div class="row header">
  <% include ../templates/jumbotron %>
</div>
<div class="row">
  <div class="col-lg-8">
    <div class="row episode-information">
      <% include ../contents/episodes_info-episode_information %>
    </div>
    <div class="row guest-information">
      <% include ../contents/episodes_info-guest_information %>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="row">
      <div class="col-lg-12">
        <% include ../templates/fb_plugin %>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-12">
        <% include ../templates/twitter_plugin %>
      </div>
    </div>
  </div>
</div>
